{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"globals": {
		"DocumentFragment": true,
		"React": true,
		"ReactDOM": true,
		"PropTypes": true,
		"$": true
	},
	"plugins": [
		"react"
	],
	"extends": "airbnb",
	"rules": {
		"indent": [
			1,
			"tab"
		],
		"max-len": [
			0
		],
		"eqeqeq": [
			0
		],
		"valid-jsdoc": 0,
		"brace-style": [
			1,
			"stroustrup"
		],
		"no-constant-condition": 1,
		"no-underscore-dangle": 0,
		"no-use-before-define": 1,
		"func-names": 0,
		"semi": [
			2,
			"always"
		],
		"no-new": 0,
		"new-parens": 2,
		"no-ternary": 0,
		"new-cap": 0,
		"class-methods-use-this": 0,
		"no-unused-vars": [
			1,
			{
				"vars": "local",
				"args": "none"
			}
		],
		"no-plusplus": [
			0
		],
		"quotes": [
			2,
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"one-var": 0,
		"space-infix-ops": 0,
		"space-before-blocks": 0,
		"object-curly-newline": 0,
		"strict": 0,
		"camelcase": [
			2,
			{
				"properties": "never"
			}
		],
		"import/no-unresolved": [
			0
		],
		"no-tabs": [
			0
		],
		"react/prop-types": [
			0
		],
		"react/sort-comp": [
			1
		],
		"react/jsx-indent": [
			0
		],
		"react/jsx-indent-props": [
			0
		],
		"react/jsx-filename-extension": [
			0
		],
		"react/jsx-one-expression-per-line": [
			0
		],
		"react/prefer-stateless-function": [
			0
		],
		"react/destructuring-assignment": [
			0
		],
		"jsx-a11y/label-has-for": [
			0
		],
		"jsx-a11y/label-has-associated-control": [
			2
		]
	}
}
