/* crit:start */
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

// Mixin are from _tools.mixin.fontstyles.scss
h1{
	@include h1;
}
h2{
	@include h2;
}
h3{
	@include h3;
}
h4{
	@include h4;
}
h5{
	@include h5;
}
h6{
	@include h6;
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include mq-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.h1#{$infix} {
			@include h1;
		}

		.h2#{$infix} {
			@include h2;
		}

		.h3#{$infix} {
			@include h3;
		}

		.h4#{$infix} {
			@include h4;
		}

		.h5#{$infix} {
			@include h5;
		}

		.h6#{$infix} {
			@include h6;
		}

		.b-fsbodylarge#{$infix}{
			@include fsbodylarge;
		}

		.b-fsbodyregular#{$infix}{
			@include fzlh(15px, 24px);
		}

		.small#{$infix}{
			@include fssmall;
		}
	}
}

.b-fsbtn{ @include fsbtn; }


blockquote{
	@include fsblockquote;
}

p{
	margin-bottom: 30px;

	&:empty{
		display: none;
	}
}

.lead{
	@include fslead;
}

small, .small{
	@include fssmall;
}
