/* crit:start */
.u{
    // Border
    &-bd {
        border: 1px solid $border;
        &0 {
            border: 0;
        }
    }
    // Border Radius
    &-bdra {
        &0 {
            border-radius: 0;
        }
        &50p{
            border-radius: 50%;
        }
    }
    
    // Link Text Decoration None on Hover and Focus
    &-link-tdn {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    // Margin
    &-m {
        &a{
            margin: auto;
        }
        &0 {
            margin: 0;
        }
        &b {
            @include guttergapclass('margin-bottom');

            &b{
                @include baselinegapclass('margin-bottom');
            }
        }
        &r {
            @include guttergapclass('margin-right');

            &b{
                @include baselinegapclass('margin-right');
            }
        }
    }
    // Padding
    &-p {
        &0 {
            padding: 0;
        }
        &b {
            @include guttergapclass('padding-bottom');

            &b{
                @include baselinegapclass('padding-bottom');
            }
        }
        &r {
            @include guttergapclass('padding-right');

            &b{
                @include baselinegapclass('padding-right');
            }
        }
    }
    // Width 100%
    &-w100p {
        width: 100%;
        // {{u-w100p-absolute}}
        &-absolute {
            position: absolute 0;
        }
    }

    // Background color
    &-bgc {
        &-t {
            background-color: transparent;
        }
    }
    // Overflow
    &-ov {
        &h {
            overflow: hidden;
        }
        &a {
            overflow: auto;
        }
    }
    // Display
    &-d {
        &f{
            display: flex;
        }
        &tb {
            display: table;
            &--fixed {
                width: 100%;
                table-layout: fixed;
            }
        }
        &tc {
            display: table-cell;
            vertical-align: middle;
        }
        &tr {
            display: table-row;
        }
        &b {
            display: block;
        }
        &ib {
            display: inline-block;
        }
        &i {
            display: inline;
        }
        &n{
            display: none;
        }
    }
    // Vertical Align
    &-va {
        &t {
            vertical-align: top;
        }
        &m {
            vertical-align: middle;
        }
        &b {
            vertical-align: bottom;
        }
    }
    // FLoat
    &-fl {
        &l {
            float: left;
        }
        &r {
            float: right;
        }
        &n {
            float: none;
        }
    }
    // Text align
    &-ta {
        &r {
            text-align: right;
        }
        &c {
            text-align: center;
        }
        &l {
            text-align: left;
        }
    }
    // Position
    &-pos {
        &r {
            position: relative;
        }
        &a {
            position: absolute;
        }
        &f {
            position: fixed;
        }
    }
    // Font Weight
    &-fw {
        @each $weight in (300, 400, 700){
            &#{$weight}{
                font-weight: $weight;
            }
        }
    }

    @each $c,
    $hex in $colors {
        // Background color
        &-bgc-#{$c} {
            background-color: $hex;
        }
        // Color
        &-c-#{$c} {
            color: $hex;
        }
        // Border color
        &-bdc-#{$c} {
            border-color: $hex;
        }

        &-s-#{$c}{
            stroke: $hex;
        }

        &-f-#{$c}{
            fill: $hex;
        }
    }
}
/* crit:end */