/* crit:start */
.u{
    // Border
    &-bd {
		border: 1px solid $border;
		&0 {
            border: 0;
		}
		&t{
			border-top: 1px solid $border;
			&0{
				border-top: 0;
			}
		}
		&r{
			border-right: 1px solid $border;
			&0{
				border-right: 0;
			}
		}
		&b{
			border-bottom: 1px solid $border;
			&0{
				border-bottom: 0;
			}
		}
		&l{
			border-left: 1px solid $border;
			&0{
				border-left: 0
			}
		}
    }
    // Border Radius
    &-bdra {
        &0 {
            border-radius: 0;
        }
        &50p{
            border-radius: 50%;
        }
    }

    // Link Text Decoration None on Hover and Focus
    &-link-tdn {
        &:hover,
        &:focus {
            text-decoration: none;
        }
	}

	// {{ .u-link-colorstay }}
	&-link-colorstay {
		&:hover,
		&:focus {
			color: inherit;
		}
	}

    // Margin
    &-m {
		&0 {
			margin: 0;
		}
        &a{
            margin: auto;
		}
		&t {
            &0{
				margin-top: 0;
			}
			&a {
				margin-top: auto;
			}

            &b{
                @include baselinegapclass('margin-top');
            }
		}
		&r {
            &0{
				margin-right: 0;
			}
			&a {
				margin-right: auto;
			}

            &b{
                @include baselinegapclass('margin-right');
            }
		}
        &b {
            &0{
				margin-bottom: 0;
			}
			&a {
				margin-bottom: auto;
			}
            &b{
                @include baselinegapclass('margin-bottom');
            }
        }
		&l {
            &0{
				margin-left: 0;
			}
			&a{
				margin-left: auto;
			}

            &b{
                @include baselinegapclass('margin-left');
            }
        }
    }
    // Padding
    &-p {
		&0 {
			padding: 0;
		}
		&t {
            &0 {
                padding-top: 0;
            }

            &b{
                @include baselinegapclass('padding-top');
			}

		}
		&r {
            &0{
				padding-right: 0;
			}

            &b{
                @include baselinegapclass('padding-right');
			}
        }
        &b {
            &0{
				padding-bottom: 0;
			}

            &b{
                @include baselinegapclass('padding-bottom');
			}
		}
		&l {
            &0{
				padding-left: 0;
			}

            &b{
                @include baselinegapclass('padding-left');
            }
        }
	}

	// Height
	&-h100{
		&p{
			height: 100%;
		}
		&vh{
			height: 100vh;
		}
    }

    // Width 100%
    &-w100 {
		&p{
			width: 100%;
		}
	}

	&-maw100p{
		max-width: 100%;
	}

	&-mah100{
		&p{
			max-height: 100%;
		}
		&vh{
			max-height: 100vh;
		}
	}

    // Background color
    &-bgc {
        &-t {
            background-color: transparent;
        }
    }
    // Overflow
    &-ov {
        &h {
            overflow: hidden;
        }
        &a {
            overflow: auto;
        }
    }
    // Display
    &-d {
        &f{
            display: flex;
		}
		&g{
			display: grid;
		}
		&if{
			display: inline-flex;
		}
        &tb {
            display: table;
            &--fixed {
                width: 100%;
                table-layout: fixed;
            }
        }
        &tc {
            display: table-cell;
            vertical-align: middle;
        }
        &tr {
            display: table-row;
        }
        &b {
            display: block;
        }
        &ib {
            display: inline-block;
        }
        &i {
            display: inline;
        }
        &n{
            display: none;
        }
    }
    // Vertical Align
    &-va {
        &t {
            vertical-align: top;
        }
        &m {
            vertical-align: middle;
        }
        &b {
            vertical-align: bottom;
        }
    }
    // FLoat
    &-fl {
        &l {
            float: left;
        }
        &r {
            float: right;
        }
        &n {
            float: none;
        }
    }
    // Text align
    &-ta {
        &r {
            text-align: right;
        }
        &c {
            text-align: center;
        }
        &l {
            text-align: left;
        }
	}
	// Line Height
	&-lh{
		&1{
			line-height: 1;
        }
	}

    // Position
    &-pos {
        &r {
            position: relative;
        }
        &a {
			position: absolute;
			&0{
				position: absolute 0;
			}
        }
        &f {
			position: fixed;
			&0{
				position: fixed 0;
			}
        }
	}

	// Left
	&-l{
		&0{
			left: 0;
		}
		&a{
			left: auto;
		}
	}
	// Top
	&-t{
		&0{
			top: 0;
		}
		&a{
			top: auto;
		}
	}
	// Bottom
	&-b{
		&0{
			bottom: 0;
		}
		&a{
			bottom: auto;
		}
	}
	// Right
	&-r{
		&0{
			right: 0;
		}
		&a{
			right: auto;
		}
	}

    // Font Weight
    &-fw {
        @each $weight in (300, 400, 700){
            &#{$weight}{
                font-weight: $weight;
            }
        }
	}

	// Font Style
	&-fs{
		&i{
			font-style: italic;
		}
	}

	// Text Transfrom
	&-tt{
		&u{
			text-transform: uppercase;
		}
		&c{
			text-transform: capitalize;
		}
	}
	// Flex
	&-fx{
		&1{
			flex: 1 1 auto;
		}
		&110{
			flex: 1 1 0%;
		}
		&100{
			flex: 1 0 0%;
		}
		&10a{
			flex: 1 0 auto;
		}
		&00a{
			flex: 0 0 auto;
		}
		&dc{
			flex-direction: column;
		}
		&ww {
			flex-wrap: wrap;
		}
    }

    &-ai{
		&b{
			align-items: baseline;
		}
	}

	// Justify Content
	&-jc{
		&sb{
			justify-content: space-between;
		}
		&fe{
			justify-content: flex-end;
		}
	}

	// Z Index
	&-z{
		@for $i from -3 through 6{
			&#{$i}{
				z-index: $i;
			}
		}
	}

	// Opacity
	&-o{
		&0{
			opacity: 0;
        }
		&1{
			opacity: 1;
		}
	}

    @each $c,
    $hex in $colors {
        // Background color
        &-bgc-#{$c} {
            background-color: $hex;
        }
        // Color
        &-c-#{$c} {
            color: $hex;
        }
        // Border color
        &-bdc-#{$c} {
            border-color: $hex;
        }
	}

	&-c-inherit{
		color: inherit;
	}
}
/* crit:end */
