extends _layouts/global.pug

block content
	<%if(vue){%>
	.container
		#app
			app-cool
				test-cool<%}%>
	.container
		.row
			.col-xs-2
				p
					| This is content
					+icon('facebook')
		.row-flex
			.col-flex-xs-6(data-mh-group="mh-1" data-mh-options="{ property: 'min-height', nonFlexBrowserOnly: 1}")
				.u-embed.u-embed--16by9
					.u-embed__item.u-bgimg(style="background-image: url(http://lorempixel.com/400/300)")
						.c-section__content
							p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.
			.col-flex-xs-6(data-mh-group="mh-1" data-mh-options="{ property: 'min-height', nonFlexBrowserOnly: 1}")
				.u-embed.u-embed--16by9
					.u-embed__item.u-bgimg(style="background-image: url(http://lorempixel.com/500/300)")
						.c-section__content
							p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.
			.col-flex-xs-6(data-mh-group="mh-1" data-mh-options="{ property: 'min-height', nonFlexBrowserOnly: 1}")
				.u-embed.u-embed--16by9
					.u-embed__item.u-bgimg(style="background-image: url(http://lorempixel.com/400/300)")
						.c-section__content
							p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.
			.col-flex-xs-6(data-mh-group="mh-1" data-mh-options="{ property: 'min-height', nonFlexBrowserOnly: 1}")
				.u-embed.u-embed--16by9
					.u-embed__item.u-bgimg(style="background-image: url(http://lorempixel.com/500/300)")
						.c-section__content
							p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.
