extends _layouts/global.pug

block content

	.container
		.row
			.col-sm-2
				p
					| This is content
					+icon('facebook')
		.u-mbb8.row
			.col-sm-6(data-module="matchheight" data-mh-group="mh1" data-module-options="{ property: 'min-height', nonFlexBrowserOnly: 0}")
				.u-embed.u-embed--16by9
					.u-embed__item.u-bgimg(style="background-image: url(http://unsplash.it/400/300)")
						.c-section__content
							p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.
			.col-sm-6(data-module="matchheight" data-mh-group="mh1" data-module-options="{ property: 'min-height', nonFlexBrowserOnly: 0}")
				.u-embed.u-embed--16by9
					.u-embed__item.u-bgimg(style="background-image: url(http://unsplash.it/500/500)")
						.c-section__content
							p De quibusdam ea incididunt. Veniam eu singulis, aute possumus fabulas neingeniis qui esse incurreret do illum excepteur laboris. Nisi coniunctione nescius noster pariatur. Eu possumus philosophari, non ut quae illum sunt. Labore incurreret ex cupidatat. Qui a eruditionem se si aut firmissimum.

		.u-mbb8.row
			.col
				h2.u-mbb2 Slider Example
				div.o-slide(data-module="slickjs" data-module-options="{ key: 'hero', slidesToShow: 3 }")
					each item,index in [1,2,3,4,5,6]
						.o-slide__item
							img(src="http://unsplash.it/400/300/?image="+index)

		.u-mbb8
			h2.u-mbb2 Focus On Example
			button#btn1(data-module="focuson" data-module-options="{ target: '#btn2'}") Button 1
			button#btn2(data-module="focuson" data-module-options="{ target: '#btn1'}") Button 2

		.u-mbb8
			h2.u-mbb2 Triggerer Example
			button#btn3(data-module="triggerer" data-module-options="{ target: '#btn1', triggerEvents: 'focus' }") Trigger Focus of Btn1

		.u-mbb8
			h2.u-mbb2 ScrollTo Example
			button(data-module="scrollto" data-module-options="{ target: 0 }") Scroll to top

		.u-mbb8
			h2#toggle-title.u-mbb2 Toggle Example
			button(data-module="vtoggle" data-module-options="{ target: '#toggle-title', class:'u-dn' }") Show/Hide "Toggle Example" title

		.u-mbb8
			h2.u-mbb2 Magnific Popup Example
			a(href="https://youtu.be/dQw4w9WgXcQ", data-module="magnificpopup" data-module-options="{ key: 'iframe' }") Open Video


		.u-mbb8
			h2.u-mbb2 Dropdown
			.dropdown
				button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| Dropdown button
				.dropdown-menu(aria-labelledby='dropdownMenuButton')
					a.dropdown-item(href='#') Action
					a.dropdown-item(href='#') Another action
					a.dropdown-item(href='#') Something else here

		.u-mbb8
			h2.u-mbb2 Collapse
			a(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
				| Link with href
			button(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
				| Button with data-target
			#collapseExample.collapse
				div Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

		.u-mbb8
			h2.u-mbb2 Tab
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item
					a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Home
				li.nav-item
					a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Profile
				li.nav-item
					a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Contact
			#myTabContent.tab-content
				#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum reiciendis sapiente nisi! Fuga dolorum ullam mollitia doloremque? Magni sunt libero sint similique? Earum a sapiente obcaecati quis dolorem voluptatem.
				#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quidem assumenda reiciendis fuga dolor harum dolores perferendis facilis esse. Hic, dolorum! Quam pariatur, est maxime ea perferendis facere in voluptatibus!
				#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
					| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quae dicta rem sed, atque mollitia aliquid id, nostrum fugit porro eos incidunt eum esse earum facilis suscipit, dignissimos accusantium explicabo.
