// Although the template is similar to FontAwesome,
// don't use it like .fa.fa-[icon-name].
// instead just use like v-icon-[icon-name]
// e.g. .v-icon-facebook (don't need .v-icon.v-icon-facebook)

// DON'T USE "icon" as a class. Adblock Plus apparently  
// has a CSS rule to hide icon-[social-icons] elements.

@font-face {
  font-family: "g-icons";
  src: url('../fonts/g-icons.eot');
  src: url('../fonts/g-icons.eot?#iefix') format('eot'),
    url('../fonts/g-icons.woff2') format('woff2'),
    url('../fonts/g-icons.woff') format('woff'),
    url('../fonts/g-icons.ttf') format('truetype'),
    url('../fonts/g-icons.svg#g-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin iconfont {
  //use !important to prevent issues with browser extensions that change fonts
  font-family: 'g-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="g-icon-"], [class*=" g-icon-"], .g-icon {
  //use !important to prevent issues with browser extensions that change fonts
  @include iconfont;
}

.g-icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.g-icon-2x {
  font-size: 2em;
}
.g-icon-3x {
  font-size: 3em;
}
.g-icon-4x {
  font-size: 4em;
}
.g-icon-5x {
  font-size: 5em;
}
.g-icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.g-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.g-icon-ul > li {
  position: relative;
}
.g-icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.g-icon-li.g-icon-lg {
  left: -1.85714286em;
}
.g-icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.g-icon-pull-left {
  float: left;
}
.g-icon-pull-right {
  float: right;
}
.g-icon.g-icon-pull-left {
  margin-right: .3em;
}
.g-icon.g-icon-pull-right {
  margin-left: .3em;
}

.g-icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.g-icon-stack-1x,
.g-icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.g-icon-stack-1x {
  line-height: inherit;
}
.g-icon-stack-2x {
  font-size: 2em;
}
.g-icon-inverse {
  color: #ffffff;
}

$icon-list: (

  facebook: "\EA01",

  instagram: "\EA02",

);

@each $icon, $refKey in $icon-list{
  .g-icon-#{$icon}:before{
    content: $refKey;
  }
}

//usually this use on pseudo element
@mixin icon($iconName){
  @include iconfont;
  content: f-icon($iconName);
}