@mixin mq($min: 0, $max: 0) {
    $type: type-of($min);
    @if $type==string {
        @if $min==xs {
            @media (max-width: rem($screen-xs-max, 16px)) {
                @content;
            }
        }
        @else if $min==sm {
            @media (min-width: rem($screen-sm-min, 16px)) {
                @content;
            }
        }
        @else if $min==sm-md {
            @media (min-width: rem($screen-sm-min, 16px)) and (max-width: rem($screen-sm-max, 16px))  {
                @content;
            }
        }
        @else if $min==md {
            @media (min-width: rem($screen-md-min, 16px)) {
                @content;
            }
        }
        @else if $min==md-lg{
            @media (min-width: rem($screen-md-min, 16px)) and (max-width: rem($screen-md-max, 16px))  {
                @content;
            }
        }
        @else if $min==lg {
            @media (min-width: rem($screen-lg-min, 16px)) {
                @content;
            }
        }
        @else if $min==lg-xl {
            @media (min-width: rem($screen-lg-min, 16px)) and (max-width: rem(1400px, 16px)) {
                @content;
            }
        }
        @else if $min==xl {
            @media (min-width: rem(1400px, 16px)) {
                @content;
            }
        }
        @else if $min==sm-max{
            @media (max-width: rem($screen-sm-max, 16px)){
                @content;
            }
        }
        @else if $min==md-max{
            @media (max-width: rem($screen-md-max, 16px)){
                @content;
            }
        }
        @else if $min==lg-max{
            @media (max-width: rem(1399px, 16px)){
                @content;
            }
        }
    }
    @else if $type==number {
        $query: "all" !default;
        @if $min !=0 and $max !=0 {
            $query: "(min-width: #{$min}) and (max-width: #{$max})";
        }
        @else if $min !=0 and $max==0 {
            $query: "(min-width: #{$min})";
        }
        @else if $min==0 and $max !=0 {
            $query: "(max-width: #{$max})";
        }
        @media #{$query} {
            @content;
        }
    }
}
