@mixin sprite($filename){
	$spritePathForPostcssAsset: 'sprite/' + $filename;
	background: spriteurl($filename);
	width: width($spritePathForPostcssAsset);
	height: height($spritePathForPostcssAsset);
}
