// Although the template is similar to FontAwesome,
// don't use it like .fa.fa-[icon-name].
// instead just use like v-icon-[icon-name]
// e.g. .v-icon-facebook (don't need .v-icon.v-icon-facebook)

// DON'T USE "icon" as a class. Adblock Plus apparently
// has a CSS rule to hide icon-[social-icons] elements.

/* crit:start */
@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot?<%= hash %>');
	src: url('<%= fontPath %><%= fontName %>.eot?<%= hash %>#iefix') format('eot'),
		url('<%= fontPath %><%= fontName %>.woff2?<%= hash %>') format('woff2'),
		url('<%= fontPath %><%= fontName %>.woff?<%= hash %>') format('woff'),
		url('<%= fontPath %><%= fontName %>.ttf?<%= hash %>') format('truetype'),
		url('<%= fontPath %><%= fontName %>.svg?<%= hash %>#<%= fontName %>') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin iconfont {
	//use !important to prevent issues with browser extensions that change fonts
	font-family: '<%= fontName %>' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="<%= className %>-"],
[class*=" <%= className %>-"],
.<%=className %> {
	//use !important to prevent issues with browser extensions that change fonts
	@include iconfont;
}


@each $icon,
$refKey in $icon-list {
	.<%=className %>-#{$icon}:before {
		content: $refKey;
	}
}

/* crit:end */
