mixin module--paragraph()
	.u-ptb8.u-pbb10.c-module.c-module--paragraph&attributes(attributes)
		.u-posr.c-module__subhead
			.container.c-module__subhead-container
				.c-module__subtitle
					h2.u-mbb1.u-c-highlight.u-fw700.u-fsi.u-ttu.o-sectiontitle.c-module__subtitle-text
						span.visible-md-inline-block.visible-lg-inline-block.u-vam.u-mrb4.u-bgc-primary.o-sectiontitle__stick
						span.u-vam Who we are
		.c-module__body
			.container
				.row
					.col-md-6
						.o-richtext
							p.lead
								| Founded in 1996, VA provides innovative and robust solutions to a wide range of government and corporate clients around the world.
					.col-md-6
						.o-richtext
							p Specialising in IBM i2 solutions, VA is known for customised, highly engaging and successful training courses – covering i2 but also analytical techniques – and adapting existing technology to ensure success for government and corporate clients.

						a.u-mtb4.u-tdn.u-link-tdn.o-btn.o-btn--small(href="#")
							span.u-posr.o-btn__text More about us
